body{
	background-color: #303259;
}
div{
		text-align: center;
		background-color: 96c7ff;
		font-size: 3em;
		font-style: italic;
		color: 65006e;
		
		border: 15px solid;
		padding: 10px 40px;
		border-color: fc6fa3;
		border-width: 12px 9em;
		border-radius: 0px 40px 0px 40px;
		
}
p{
	margin-left: 2em;
	font-size: 20;
	color: f29a35;
}
.ci{
	margin-left: 85em;
}